[Desktop Entry]
Type=Application
Name=Hello World Qt
Comment=Example Qt application
Exec=hello-world-qt %U
Icon=hello-world-qt
Terminal=false
Categories=Utility;
StartupNotify=true